build/
# Python + Eclipse
.gitignore
*.pyc
*.pyd
*.~
*.class
*.pyo
*.*~*
*.bak
.project
.pydevproject
.settings/
.DS_Store
# Git cacharra
*.orig
# sqlite3
*.db
/backups/
*.py~
#Documentos
*.pdf
*.doc
*.docx
*.dat
*.swp
.idea/
proyectosaludcuba.iml
misc.xml
